{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h2>{% trans "Properties" %}</h2>
    <a href="{% url 'imoveis:index' %}">{% trans "List all" %}</a>
    <a href="{% url 'imoveis:create' %}">{% trans "Add new" %}</a>
    {% block content %}{% endblock %}
</body>
</html>
