{% extends "imoveis/base.html" %}
{% load i18n %}


{% block content %}
    <form action="" method="get">
        <input type="text" name="q" value="{{ q }}" />
        <input type="submit" value="{% trans 'Search' %}" />
    </form>

    <ul>
        {% for imovel in object_list %}
        <li>
            {% if imovel.thumbnail %}
            <img src="{{ imovel.thumbnail.url }}" height="150" width="150"/>
            {% endif %}

            {{ imovel }}
            <a href="{% url 'imoveis:detail' imovel.pk %}">{% trans "Detail" %}</a>
            <a href="{% url 'imoveis:update' imovel.pk %}">{% trans "Update" %}</a>
            <a href="{% url 'imoveis:delete' imovel.pk %}">{% trans "Delete" %}</a>
        </li>
        {% empty %}
        <li>{% trans "No properties yet." %}</li>
        {% endfor %}
    </ul>
{% endblock %}
