{% extends "imoveis/base.html" %}
{% load i18n %}


{% block content %}
    <form action="" method="post">{% csrf_token %}
        <p>{% blocktrans %}Are you sure you want to delete "{{ object }}"?{% endblocktrans %}</p>
        <input type="submit" value="{% trans 'Confirm' %}" />
    </form>
{% endblock %}
