{% extends "imoveis/base.html" %}
{% load i18n %}


{% block content %}
    <h1>{{ object }}</h1>

    {% if imovel.thumbnail %}
    <p><img src="{{ object.thumbnail.url }}" height="150" width="150"/></p>
    {% endif %}

    {% if object.quartos is not None %}
    <p>{% trans "Quartos" %}: {{ object.quartos }}</p>
    {% endif %}

    {% if object.vagas_garagem is not None %}
    <p>{% trans "Vagas de garagem" %}: {{ object.vagas_garagem }}</p>
    {% endif %}

    {% if object.area_util is not None %}
    <p>{% trans "Área útil (M²)" %}: {{ object.area_util }}</p>
    {% endif %}

    {% if object.area_total is not None %}
    <p>{% trans "Área total (M²)" %}: {{ object.area_total }}</p>
    {% endif %}

    {% if object.aluguel is not None %}
    <p>{% trans "Aluguel" %}: {{ object.aluguel }}</p>
    {% endif %}

    {% if object.condominio is not None %}
    <p>{% trans "Condomínio" %}: {{ object.condominio }}</p>
    {% endif %}

    {% if object.iptu is not None %}
    <p>{% trans "IPTU" %}: {{ object.iptu }}</p>
    {% endif %}

    {% if object.descricao %}
    <p>{% trans "Descrição" %}: {{ object.descricao }}</p>
    {% endif %}
{% endblock %}
